* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;  
}

body {
    color: #fff;
    background-image: url("./assets/img/main-back1.jpg");
    background-color: gray;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    font-family: sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
}
main {
   min-height: 75vh;

}

header {
    padding: 20px 30px;
    background: #414141;
}
.logo {
    height: 5vh;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    background: #141414;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}
footer img {
    height: 2rem;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

footer .footer__item {
    margin: 0 1rem;
    text-align: center;
}
footer .footer_text {
    vertical-align: top;
font-size: 1.8rem;
    color: #fff;
}
 .tooltip {
    width: 65wh;
    border-radius: 0.4rem;
    background-color: rgba(159,226,253, 0.85);
    padding: 3rem 2rem;
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#141414;
    font-size: 1.5rem;
 
 }
 .hidden {
    display: none;
   
 }

