* {
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    background: gray;
    font-family: sans-serif;
}

header {
    padding: 20px 30px;
      /* background: #141414; */
       background: #414141;
}
.logo {
    width: 20%;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    background: #141414;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}
footer img {
    height: 2rem;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

footer .footer__item {
    margin: 0 1rem;
}
footer .footer_text {
    vertical-align: top;
font-size: 1.8rem;
    color: #fff;
}

