// @import '../../assets/fonts/arial/stylesheet.css';
// @import '../../assets/fonts/georgia/stylesheet.css';

*,
:before,
:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  font-family: Georgia, serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 30px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}

.header {
  padding: 30px 0 25px;
  position: fixed;
  
  top: 0;
  left: 0;
  right: 0;
  z-index: 450;
  background-color: #fff;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 769px) {
    padding: 0 20px;
  }

  @media (max-width: 769px) {
    padding: 0 0px;
  }
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.move-logo {
  position: relative;
  justify-content: flex-end;
   transition-duration: 1.0s;
   transition: all 1s;
   
  }
  
  .up-logo {
  z-index: 1500;
  margin-right: 100px;
  
  }
  

.header__logo__title {
  margin: 0;
  padding: 0;
  color: #545454;
  font-size: 2.13333rem;
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 1.1;
}

.header__logo__subtitle {
  padding-top: 10px;
  color: #292929;
  font-family: Arial, sans-serif;
  font-size: 0.86667rem;
  font-weight: 400;
  letter-spacing: 0.11em;
  line-height: 1.1;
}

@media (max-width: 767px) {
  
  .header__menu {
    width: 320px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -100%;
    visibility: hidden;
    z-index: 998;
    background-color: #f6f6f6;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.5s;
  }
  .header__menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 43px;
  }

  .header__menu ul li {
    transition-duration: 0.25s;
  }

  .header__menu ul li:hover {
    background-color: #f1cdb3;
  }

  .header__menu ul li a {
    font-family: Arial, sans-serif;
    font-size: 2.13333rem;
    font-weight: 400;
    line-height: 1.6;
    display: block;
  }
}

.header__menu__list {
  display: flex;
  column-gap: 36px;
}


.header__menu__list__link {
  display: inline-block;
  color: #545454;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  -webkit-transition: color 0.14s linear;
  transition: color 0.14s linear;
}

.header__menu__list__link:hover {
  color: #292929;
}

.header__menu__list__link--active {
  color: #545454;
  border-bottom: 3px solid #f1cd83;
}

.header__burger-menu {
//  border: 1px solid red;
 position: fixed;
  margin-right: 43px;
  display: none;
  width: 30px;
  cursor: pointer;
  z-index: 1000;
  transition-duration: 0.5s;
  top: 49px;
  right: 10px;
}

@media (max-width: 767px) {
  .header__burger-menu {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
}

.header__burger-menu span {
  height: 2px;
  background-color: black;
}

#menu__toggle {
  display: none;
}

#menu__toggle:checked ~ .header__burger-menu {
  // transform: rotate(90deg) translateX(-10px) translateY(20px) ;
  transform: rotate(90deg);
  // transform: translateX(-10px);
}

//menu open close js
.show-dropdown {
  visibility: visible;
  right: 0;
}

// #menu__toggle:checked ~ .header__menu {
//   visibility: visible;
//   right: 0;
// }

#menu__toggle:checked ~ .header__logo {
  margin-left: 90px;
}

.main {
  margin-top: 120px;
}

.friends {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #f6f6f6;
}

@media (max-width: 1020px) {
  .friends {
    padding-bottom: 76px;
  }
}

@media (max-width: 769px) {
  .friends {
    padding-bottom: 72px;
  }
}

@media (max-width: 700px) {
  .friends {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}

.friends__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friends__title {
  width: 400px;
  color: #545454;
  font-size: 2.33333rem;
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 1.3;
  text-align: center;
}

@media (max-width: 599px) {
  .friends__title {
    width: 300px;
    font-size: 1.66667rem;
    line-height: 1.3;
  }
}

.friends__cards {
  margin-top: 60px;
  display: flex;
  row-gap: 30px;
  column-gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  animation: comeUp 1s;
}
@keyframes comeUp {
  0% {opacity: 0.5;
    transform: scale(0.95);
  } 
  100% {opacity: 1;
    transform: scale(1);
  }
}

.slider_way {
  margin-top: 60px;
  display: flex;
  row-gap: 30px;
  column-gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 1020px) {
  .friends__cards {
    margin-top: 30px;
  }
}

@media (max-width: 700px) {
  .friends__cards {
    margin-top: 42px;
  }
}

.friends__card {
  border-radius: 9px;
  background-color: #fafafa;
  transition: box-shadow 0.14s linear,
    background-color 0.14s linear;
}

.friends__card:hover {
  background-color: #fff;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

// @media (max-width: 1279px) {
//   .friends__card:nth-child(7),
//   .friends__card:nth-child(8) {
//     display: none;
//   }
// }

// @media (max-width: 599px) {
//   .friends__card:nth-child(4),
//   .friends__card:nth-child(5),
//   .friends__card:nth-child(6) {
//     display: none;
//   }
// }

.friends__card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friends__card__title {
  margin-top: 27px;
  margin-bottom: 31px;
  color: #545454;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.06em;
}

.friends__card__button {
  margin-bottom: 30px;
  padding: 15px 45px;
  color: #292929;
  font-family: Georgia, serif;
  font-size: 1.13333rem;
  letter-spacing: 0.06em;
  line-height: 1.3;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
  -webkit-transition: background-color 0.14s linear;
  transition: background-color 0.14s linear;
  padding: 13px 43px;
  background-color: transparent;
  border: 2px solid #f1cdb3;
}

.friends__card__button:hover {
  background-color: #fddcc4;
}

.friends__card:hover .friends__card__button {
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
}

.friends__card__button:hover {
  border: 2px solid #fddcc4;
}

.friends__switches {
  // border: 2px solid gold;
  margin-top: 60px;
  display: flex;
  align-items: center;
  column-gap: 20px;
  justify-content: center;
}

@media (max-width: 1020px) {
  .friends__switches {
    margin-top: 40px;
  }
}

@media (max-width: 700px) {
  .friends__switches {
    -webkit-column-gap: 10px;
    column-gap: 10px;
  }
}

.friends__switch {
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  transition: background-color 0.14s linear;
  font-family: Georgia, serif;
  font-size: 1.33333rem;
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 1.15;
}

.friends__switch:hover {
  background-color: #f1cdb3;
}

.friends__switch:disabled {
  border-color: #cdcdcd;
  cursor: default;
}

.friends__switch:disabled svg {
  fill: #cdcdcd;
}

.friends__switch:disabled:hover {
  background-color: transparent;
}

.friends__switch svg {
  fill: #292929;
}

.friends__switch--number {
  background-color: #f1cdb3;
  cursor: default;
}

.friends__switch--reverse {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.footer {
  padding-top: 40px;
  background: url('../../assets/images/noise_transparent@2x.png'),
    radial-gradient(
      110.67% 538.64% at 5.73% 50%,
      #513d2f 0%,
      #1a1a1c 100%
    ),
    #211f20;
}

@media (max-width: 1020px) {
  .footer {
    padding-top: 30px;
  }
}

.footer__inner {
  display: flex;
  row-gap: 60px;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 1020px) {
  .footer__inner {
    justify-content: space-around;
  }
}

@media (max-width: 769px) {
  .footer__inner {
    padding: 0 20px;
  }
}

@media (max-width: 700px) {
  .footer__inner {
    row-gap: 35px;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 321px) {
  .footer__inner {
    padding: 0;
  }
}

.footer__item {
  width: 300px;
}

.footer__item:first-child {
  width: 281px;
}

@media (max-width: 1020px) {
  .footer__item:last-child {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .footer__item:last-child {
    margin-top: 52px;
    max-width: 260px;
  }
}

@media (max-width: 321px) {
  .footer__content-first {
    padding: 0 12px;
  }
  .footer__content-second {
    padding-top: 15px;
  }

  .footer__item:last-child {
    margin-top: 15px;
    max-width: 260px;
  }
}

.footer__title {
  margin-top: 16px;
  color: #fff;
  font-size: 2.33333rem;
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 1.3;

  @media (max-width: 321px) {
    padding: 0 10px;
    font-size: 1.6rem;
  }
}

@media (max-width: 1020px) {
  .footer__title {
    margin-top: 0;
  }
}

@media (max-width: 700px) {
  .footer__title {
    text-align: center;
  }
}

.footer__content {
  height: 46px;
  display: flex;
  align-items: center;
}

.footer__content {
  @media (max-width: 321px) {
    //  border: 1px solid gold;
    //  display: flex;
    //  justify-content:space-between;
  }
}

.footer__content:first-of-type {
  margin: 32px 0 26px;
}

.footer__text {
  margin-left: 20px;
  color: #f1cdb3;
  font-size: 1.33333rem;
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 1.15;
}

.footer__puppy {
  margin: 0 auto;
  display: block;
}

@media (max-width: 700px) {
  .footer__puppy {
    max-width: 260px;
  }
}
.pets__blackout {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 445;
  opacity: 0;
  visibility: hidden;
  background-color: #292929;
  background-color: rgb(41, 41, 41);
  transition: opacity 0.25s linear, visibility 0.25s linear;
  top: 0;
  left: 0;
  cursor: pointer;
}

.pets__blackout.active {
  opacity: 0.6;
  visibility: visible;
}

.pets__popup {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s linear, visibility 0.25s linear;
  background-color: #fff;
  border-radius: 9px;
}

.pets__popup.active {
  opacity: 1;
  visibility: visible;
}

.pets__blackout:hover ~ .pets__popup > button {
  background-color: #f1cdb3;

}

.pets__popup__img {
  width: 500px;
  height: 500px;
}

.pets__popup__img img {
  display: block;
  width: 100%;
  border-radius: 0 0 9px 9px;
}

@media (max-width: 1279px) {
  .pets__popup__img {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 767.98px) {
  .pets__popup__img {
    display: none;
  }
}

.pets__popup__content {
  margin: 50px 20px 0 29px;
  width: 351px;
}

@media (max-width: 1279px) {
  .pets__popup__content {
    margin: 10px 9px 0 11px;
    width: 265px;
  }
}

@media (max-width: 767.98px) {
  .pets__popup__content {
    margin: 10px;
    width: 220px;
  }
}

.pets__popup__name {
  margin-bottom: 10px;
  font-size: 2.33333rem;
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 1.3;
}

@media (max-width: 767.98px) {
  .pets__popup__name {
    text-align: center;
  }
}

.pets__popup__type {
  margin-bottom: 40px;
  font-size: 1.33333rem;
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 1.15;
}

@media (max-width: 1279px) {
  .pets__popup__type {
    margin-bottom: 20px;
  }
}

@media (max-width: 767.98px) {
  .pets__popup__type {
    text-align: center;
  }
}

.pets__popup__description {
  margin-bottom: 40px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 1.1;
  line-height: normal;
}

@media (max-width: 1279px) {
  .pets__popup__description {
    margin-bottom: 20px;
    font-size: 0.86667rem;
    line-height: 1.1;
  }
}

@media (max-width: 767.98px) {
  .pets__popup__description {
    margin-bottom: 24px;
    text-align: justify;
  }
}

.pets__popup__info {
  list-style-type: disc;
  padding-left: 14px;
}

.pets__popup__info li {
  margin-bottom: 12px;
  color: #f1cdb3;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.1;
  letter-spacing: 0.06em;
}

.pets__popup__info li:last-child {
  margin-bottom: 0;
}

@media (max-width: 1279px) {
  .pets__popup__info li {
    margin-bottom: 7px;
  }

  .pets__popup__info li:last-child {
    margin-bottom: 0;
  }
}

.pets__popup__info li strong {
  color: #000;
}

.pets__popup__info li span {
  color: #000;
  font-weight: 400;
}

.pets__close {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #f1cdb3;
  transition: background-color 0.25s linear;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -52px;
  margin-right: -42px;
}

.pets__close:hover {
  background-color: #f1cdb3;
}

.pets__close.active {
  background-color: #f1cdb3;
}

@media (max-width: 767.98px) {
  .pets__close {
    margin-right: -26px;
  }
}

body.scroll {
  overflow: hidden;
}

* {
  scroll-behavior: smooth;
}

.prevent-scroll{
  position: fixed;
  overflow-y: scroll;
}

