html {
  font-size: 15px
}

body {
  font-family: Georgia, serif
}

a {
  text-decoration: none
}

ul {
  list-style-type: none
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px
}

.header {
  margin-top: 30px;
  padding: 30px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}


.header__inner {

  display: flex;

  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo {

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo__title {
  margin-bottom: 10px;
  color: #f1cdb3;
  font-size: 2.13333rem;
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 1.1;
}

.header__logo__subtitle {
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: .86667rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1.1;
}


.header__menu__list {

  display: flex;
  column-gap: 36px;
}

.header__menu__list__link {
  display: inline-block;
  color: #cdcdcd;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  transition: color 0.14s linear;
}

.header__menu__list__link:hover {
  color: #fafafa;
}

.header__menu__list__link--active {
  color: #fafafa;
  border-bottom: 3px solid #f1cd83;
}

.header__burger-menu {
  margin-right: 43px;
  display: none;
  width: 30px;
  cursor: pointer;
  z-index: 999;
  transition-duration: .25s;
}


.header__burger-menu span {
  height: 2px;
  background-color: #f1cdb3;
}

.hero {
  background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.hero__inner {
  padding-top: 182px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.hero__content {
  margin-right: 42px;
  margin-bottom: 81px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
}


.hero__title {
  max-width: 310px;
  margin-bottom: 42px;
  color: #fff;
  font-size: 2.93333rem;
  font-weight: 400;
  line-height: 1.3;
}


.hero__subtitle {
  max-width: 462px;
  margin-bottom: 41px;
  color: #cdcdcd;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}


.hero__button {
  padding: 15px 45px;
  color: #292929;
  font-family: Georgia, serif;
  font-size: 1.13333rem;
  letter-spacing: 0.06em;
  line-height: 1.3;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
  -webkit-transition: background-color 0.14s linear;
  transition: background-color 0.14s linear;
  background-color: #f1cdb3;
  border: none;
}

.hero__button:hover {
  background-color: #fddcc4;
}

.hero__image {
  max-width: 698px;
  flex-shrink: 1;
}



.hero__image img {
  display: block;
  width: 100%;
}