.news__item {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    margin-bottom: 1.6%;
    background: #fff;
    color: #333;
    line-height: 1.4;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    overflow: hidden;
}

.news__item:hover .news__meta-photo {
    transform: scale(1.3) rotate(3deg);
}

.news__item .news__meta {
    position: relative;
    height: 200px;
}

.news__item .news__meta-photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
}

.news__item .news__meta-details,
.news__item .news__meta-details ul {
    margin: auto;
    padding: 0;
    list-style: none;
}

.news__item .news__meta-details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -120%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: 0.9rem;
}

.news__item .news__description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
}

.news__item .news__description h2 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
}

.news__item .news__description h3 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-top: 5px;
}

.news__item .news__description .news__read-more {
    text-align: right;
}

.news__item .news__description .news__read-more a {
    color: #5ad67d;
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-weight: 800;
}

.news__item .news__description .news__read-more a:after {
    content: '→';
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    transition: margin 0.3s, opacity 0.3s;
}

.news__item .news__description .news__read-more a:hover:after {
    margin-left: 5px;
    opacity: 1;
}

.news__item p {
    margin: 1rem 0 0;
}

.news__item p:first-of-type {
    margin-top: 1.25rem;
    position: relative;
}

.news__item p:first-of-type:before {
    content: '';
    position: absolute;
    height: 5px;
    background: #5ad67d;
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
}

.news__item:hover .news__meta-details {
    left: 0%;
}

@media (min-width: 640px) {
    .news__item {
        flex-direction: row;
        max-width: 700px;
    }

    .news__item .news__meta {
        flex-basis: 40%;
        height: auto;
    }

    .news__item .news__description {
        flex-basis: 60%;
    }

    .news__item .news__description:before {
        -webkit-transform: skewX(-3deg);
        transform: skewX(-3deg);
        content: '';
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
    }

    .news__item.alt {
        flex-direction: row-reverse;
    }

    .news__item.alt .news__description:before {
        left: inherit;
        right: -10px;
        -webkit-transform: skew(3deg);
        transform: skew(3deg);
    }

    .news__item.alt .news__meta-details {
        padding-left: 25px;
    }
}

.sources {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    width: 90wh;
    /* height: 120px; */
    overflow: auto;
    align-items: center;
    font: 300 1em 'Fira Sans', sans-serif;
    margin: 0 1rem;
}

.source__item {
    background: rgba(70,70,70,0.7);
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
}

.source__item:hover,
.source__item:focus {
    border-color: #9fe2fd;
    color: #9fe2fd;
    box-shadow: 0 0.5em 0.5em -0.4em #9fe2fd;
    transform: translateY(0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;  
}

body {
    color: #fff;
    background-image: url(bdb1eab72fc65547bf36.jpg);
    background-color: gray;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    font-family: sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
}
main {
   min-height: 79vh;

}

header {
    padding: 20px 30px;
    background: #414141;
}
.logo {
    height: 5vh;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    background: #141414;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
footer img {
    height: 2rem;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

footer .footer__item {
    margin: 0 1rem;
    text-align: center;
}
footer .footer_text {
    vertical-align: top;
font-size: 1.8rem;
    color: #fff;
}
 .tooltip {
    width: 65wh;
    border-radius: 0.4rem;
    background-color: rgba(159,226,253, 0.85);
    padding: 3rem 2rem;
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#141414;
    font-size: 1.5rem;
 
 }
 .hidden {
    display: none;
   
 }



/*# sourceMappingURL=main.css.map*/